html,
body {
  height: 100%;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text);
  line-height: 1.5em;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2 {
  max-width: 500px;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  color: var(--black);
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--text);
}

a:visited {
  color: var(--text);
}

a:active {
  color: var(--text);
}

.text-wrapper p {
  margin-bottom: 8px;
}

.text-wrapper p:last-of-type {
  margin-bottom: 0;
}

.text-wrapper li {
  list-style: disc;
  list-style-position: inside;
}

.cta {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  margin-top: 16px;
}

/*Navigation*/

header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: var(--white);
  border-bottom: solid 2px var(--third);
}

.nav-container {
  position: relative;
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.top-nav {
  height: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.top-nav li {
  height: 100%;
  display: inline-flex;
  width: max-content;
  padding-right: 5px;
  border-right: solid 1px var(--soft-grey);
  align-items: center;
  margin-left: 5px;
}

.top-nav li:first-of-type {
  margin-left: 0;
}

.top-nav li:last-of-type {
  padding-right: 0;
  border-right: none;
}

.top-nav a,
.top-nav p {
  display: inline-block;
  width: max-content;
  height: 80px;
  padding: 0 12px;
  line-height: 80px;
}

.top-nav a:hover {
  color: var(--primary);
}

/*Dropdown Menu*/

.dropdown-menu {
  overflow: hidden;
}

.dropdown-menu:hover {
  overflow: visible;
}

.dropdown-menu p {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-menu:hover .chevron-down {
  transform: rotate(0);
}

.dropdown-nav {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  max-width: 1400px;
  width: 100%;
  height: max-content;
  transform: translateY(-100%);
  background-color: var(--white);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 14px;
}

.dropdown-nav ul {
  width: 100%;
}

.dropdown-menu:hover .chevron-down {
  background-image: url("../icons/down-chevron-primary.svg");
}

.dropdown-menu:hover .dropdown-nav {
  transform: translateY(80px);
}

.dropdown-nav > section {
  background-color: var(--white);
  border-left: solid 1px var(--soft-grey);
  transition: all 0.5s ease;
}

.dropdown-nav > section:first-of-type {
  border-left: none;
}

.to-be-shifted {
  transition: all 0.5s ease;
}

.shifted-right {
  transform: translateX(100%);
}

.dropdown-nav h2 {
  font-size: 16px;
  padding: 4px 8px !important;
}

.dummy-header {
  visibility: hidden;
  max-width: 500px;
  padding: 4px 8px !important;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
  font-size: 16px;
}

.dropdown-nav li {
  width: 100%;
  min-height: 3em;
  padding: 4px 8px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border-right: none;
  cursor: pointer;
}

.dropdown-nav li:nth-child(odd) {
  background-color: var(--light-grey);
}

.dropdown-nav li:hover {
  background-color: var(--third);
}

.dropdown-nav .arrow-right {
  min-width: 14px;
  height: 14px;
}

.dropdown-nav a,
.dropdown-nav p {
  width: 100%;
  height: max-content;
  padding: 0;
  margin: 0;
  line-height: initial;
  word-wrap: break-word;
}

.dropdown-nav li:hover a,
.dropdown-nav li:hover p {
  color: var(--black);
}

/*Secondary Dropdown*/

.secondary-dropdown-container {
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
}

.secondary-dropdown-button * {
  pointer-events: none;
}

.secondary-dropdown {
  position: absolute;
  transform: translateZ(-10px);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-left: solid 1px var(--soft-grey);
  transition: all 0.5s ease;
}

.secondary-dropdown.visible {
  transform: translateX(100%);
}

.secondary-dropdown.visible.shifted-up {
  transform: translateX(100%) translateY(-100%) translateZ(-10px);
}

/*Mobile Menu*/

#mobile-menu {
  display: none;
  width: 36px;
  height: 36px;
}

.mobile-menu {
  max-width: 300px;
  width: calc(100% - 50px);
  bottom: 0;
  position: fixed;
  top: 96px;
  transform: translate(-100%);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.show-menu {
  transform: translate(0%);
}

.mobile-menu ul {
  display: initial;
}

.mobile-menu a {
  margin: 0;
}

/*Mobile Accordian Menu*/

.accordian {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.accordian a {
  color: var(--white);
  text-decoration: none;
}

.accordian-item {
  border-top: 1px solid var(--primary-darker);
  list-style: none;
  overflow: hidden;
}

.accordian-sub-item {
  border-top: 1px solid var(--primary-darker);
  list-style: none;
  overflow: hidden;
}

.btn {
  display: block;
  position: relative;
  width: 100%;
  padding: 16px 18px;
  border: none;
  background: var(--primary);
  color: var(--white);
  font-size: 16px;
  font-family: "Open Sans Reg", Arial, Helvetica, sans-serif;
  text-align: left;
}

.accordian-item__sub,
.accordian-sub-item__sub {
  height: 0;
  padding: 0;
  background: var(--dark-grey);
  overflow: hidden;
  transition: height 0.4s ease;
}

.accordian-item__sub a,
.accordian-sub-item__sub a {
  display: block;
  padding: 1rem 1.6rem;
  color: white;
  font-size: 0.9rem;
  position: relative;
  border-bottom: 1px solid var(--light-grey-two);
}

/*Footer*/

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  padding: 16px 0;
  margin: 0 auto;
}

.footer-grid section {
  padding: 8px;
}

.footer-grid a {
  color: var(--white);
}

.footer-header {
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.designed-by-wrapper {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
}

#designed-by {
  width: 250px;
}

/*Utility*/

.margin-top {
  margin-top: 16px;
}

.arrow-right.rotated {
  transform: rotate(0);
}

.no-right-border {
  border-right: none !important;
}

.no-bot-marg {
  margin-bottom: 0 !important;
}

.active-link {
  background-color: var(--primary);
  color: var(--white) !important;
  font-family: "Open Sans Semi Bold", Arial, Helvetica, sans-serif;
}

.active-link i {
  background-image: url("../icons/down-chevron-white.svg") !important;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.stop-scrolling {
  overflow: hidden;
}

/*Icons*/

.chevron-down {
  display: inline-block;
  background-image: url("../icons/down-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.chevron-down.white {
  background-image: url("../icons/down-chevron-white.svg");
}

.chevron-down.third {
  background-image: url("../icons/down-chevron-third.svg");
}

.chevron-down.primary {
  background-image: url("../icons/down-chevron-primary.svg");
}

.arrow-right {
  display: block;
  background-image: url("../icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  transition: all 0.3s;
}

/*Fonts*/

@font-face {
  font-family: "Open Sans Reg";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Med";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}
