html,
body {
  height: 100%;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Reg", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--text);
  line-height: 1.5em;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2 {
  max-width: 500px;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  color: var(--black);
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--text);
}

a:visited {
  color: var(--text);
}

a:active {
  color: var(--text);
}

.text-wrapper p {
  margin-bottom: 8px;
}

.text-wrapper p:last-of-type {
  margin-bottom: 0;
}

.text-wrapper li {
  list-style: disc;
  list-style-position: inside;
}

.cta {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  margin-top: 16px;
}

/*Navigation*/

header {
  width: 100%;
  height: 80px;
  background-color: var(--white);
  border-bottom: solid 2px var(--third);
  z-index: 1;
}

.nav-container {
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.top-nav {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.top-nav li {
  height: 100%;
  display: inline-flex;
  width: max-content;
  padding-right: 5px;
  border-right: solid 1px #f2f2f2;
  align-items: center;
  margin-left: 5px;
}

.top-nav li:first-of-type {
  margin-left: 0;
}

.top-nav li:last-of-type {
  padding-right: 0;
  border-right: none;
}

.top-nav a,
.top-nav p {
  display: inline-block;
  width: max-content;
  height: 80px;
  padding: 0 12px;
  line-height: 80px;
}

.top-nav a:hover {
  color: var(--primary);
}

/*Dropdown Menu*/

.dropdown-menu {
  overflow: hidden;
}

.dropdown-menu:hover {
  overflow: visible;
}

.dropdown-menu p {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-nav {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1400px;
  width: 100%;
  height: 160px;
  transform: translateY(-100%);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  font-size: 16px;
}

.dropdown-menu:hover i {
  background-image: url("../icons/down-chevron-primary.svg");
}

.dropdown-menu:hover .dropdown-nav {
  transform: translateY(80px);
}

.dropdown-nav ul {
  max-width: 300px;
  width: 100%;
  height: 100%;
  border-right: solid 1px var(--third);
}

.dropdown-nav ul:last-of-type {
  border-right: none;
}

.dropdown-nav li {
  width: 100%;
  height: max-content;
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.dropdown-nav a {
  height: max-content;
  padding: 5px 12px;
  line-height: initial;
  word-wrap: break-word;
}

.dropdown-nav a:hover {
  color: var(--primary);
}

/*Mobile Menu*/

#mobile-menu {
  display: none;
  width: 36px;
  height: 36px;
}

.mobile-menu {
  max-width: 300px;
  width: calc(100% - 50px);
  bottom: 0;
  padding: 16px 0;
  position: fixed;
  top: 96px;
  transform: translate(-100%);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.show-menu {
  transform: translate(0%);
}

.mobile-menu ul {
  display: initial;
}

.mobile-menu li {
  display: block;
  padding: 8px;
  border-bottom: solid 1px var(--white);
}

.mobile-menu a {
  display: block;
  margin: 0;
}

/*Footer*/

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  padding: 16px 0;
  margin: 0 auto;
}

.footer-grid section {
  padding: 8px;
}

.footer-grid a {
  color: var(--white);
}

.footer-header {
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.designed-by-wrapper {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
}

#designed-by {
  width: 250px;
}

/*Utility*/

.no-bot-marg {
  margin-bottom: 0 !important;
}

.active-link {
  background-color: var(--primary);
  color: var(--white) !important;
  font-family: "Open Sans Semi Bold", Arial, Helvetica, sans-serif;
}

.active-link i {
  background-image: url("../icons/down-chevron-white.svg") !important;
}

.no-right-border {
  border-right: none !important;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.stop-scrolling {
  overflow: hidden;
}

/*Icons*/

.chevron-down {
  display: inline-block;
  background-image: url("../icons/down-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.chevron-down.white {
  background-image: url("../icons/down-chevron-white.svg");
}

.chevron-down.third {
  background-image: url("../icons/down-chevron-third.svg");
}

.chevron-down.primary {
  background-image: url("../icons/down-chevron-primary.svg");
}

/*Fonts*/

@font-face {
  font-family: "Open Sans Reg";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Med";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}
