html,
body {
  height: 100%;
}

/*CSS Variables*/

:root {
  --white: #ffffff;
  --soft-grey: #f2f2f2;
  --light-grey: #fcfcfc;
  --light-grey-two: #3b3b3b;
  --dark-grey: #333333;
  --black: #141414;
  --text: #595959;
  --primary: #1f5a8a;
  --primary-darker: #1c517d;
  --secondary: #37867f;
  --third: #d8e9e6;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  color: var(--text);
  font-family: "Open Sans Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.content {
  flex: 1 0 auto;
}

.splash {
  width: 100%;
  padding: 32px 0;
}

.splash:first-of-type {
  padding-top: 64px;
}

.splash:last-of-type {
  padding-bottom: 64px;
}

.splash:nth-of-type(even) {
  background-color: #f5f5f5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1,
h2 {
  max-width: 500px;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  color: var(--black);
  font-size: 24px;
  line-height: 1.2em;
  margin-bottom: 16px;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ol li {
  list-style-type: decimal !important;
}

.text-wrapper li {
  line-height: 1.5em;
}

a:link {
  color: var(--text);
}

a:visited {
  color: var(--text);
}

a:active {
  color: var(--text);
}

.text-wrapper p {
  margin-bottom: 16px;
}

.text-wrapper p:last-of-type {
  margin-bottom: 0;
}

.text-wrapper li {
  list-style: disc;
  list-style-position: inside;
}

.cta {
  display: inline-block;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  margin-top: 16px;
  transition: all 0.3s ease;
}

/*Navigation*/

header {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 80px;
  background-color: #eaeaea;
  border-bottom: solid 2px var(--third);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.nav-container {
  position: relative;
  max-width: 1400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-wrapper {
  max-height: 72px;
  height: 100%;
}

.logo {
  height: 100%;
}

.top-nav {
  height: 100%;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.top-nav li {
  height: 100%;
  display: inline-flex;
  width: max-content;
  padding-right: 5px;
  border-right: solid 1px hsl(0, 0%, 88%);
  align-items: center;
  margin-left: 5px;
}

.top-nav li:first-of-type {
  margin-left: 0;
}

.top-nav li:last-of-type {
  padding-right: 0;
  border-right: none;
}

.top-nav a,
.top-nav p {
  display: inline-block;
  width: max-content;
  height: 80px;
  padding: 0 12px;
  line-height: 80px;
}

.top-nav a:hover {
  color: var(--primary);
}

/*Dropdown Menu*/

.dropdown-menu {
  overflow: hidden;
}

.dropdown-menu:hover {
  overflow: visible;
}

.dropdown-menu p {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-menu:hover .chevron-down {
  transform: rotate(0);
}

.dropdown-nav {
  position: absolute;
  z-index: 3;
  top: -1px;
  left: 0;
  max-width: 1400px;
  width: 100%;
  height: max-content;
  transform: translateY(-100%);
  background-color: var(--white);
  border-top: solid 1px var(--third);
  border-bottom: solid 2px var(--third);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 14px;
}

.dropdown-nav ul {
  width: 100%;
}

.dropdown-menu:hover .chevron-down {
  background-image: url("../icons/down-chevron-primary.svg");
}

.dropdown-menu:hover .dropdown-nav {
  transform: translateY(80px);
}

.dropdown-nav > section {
  background-color: var(--white);
  border-left: solid 1px var(--soft-grey);
  transition: all 0.5s ease;
}

.dropdown-nav > section:first-of-type {
  border-left: none;
}

.to-be-shifted {
  transition: all 0.5s ease;
}

.shifted-right {
  transform: translateX(100%);
}

.dropdown-nav h2 {
  font-size: 16px;
  padding: 4px 8px !important;
}

.dummy-header {
  visibility: hidden;
  max-width: 500px;
  padding: 4px 8px !important;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
  font-size: 16px;
}

.dropdown-nav li {
  width: 100%;
  min-height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  border-right: none;
  cursor: pointer;
}

.dropdown-nav li:nth-child(odd) {
  background-color: var(--light-grey);
}

.dropdown-nav li:hover {
  background-color: var(--third);
}

.dropdown-nav .arrow-right {
  min-width: 14px;
  height: 14px;
}

.dropdown-nav a,
.dropdown-nav p {
  width: 100%;
  height: max-content;
  padding: 0;
  margin: 0;
  line-height: initial;
  word-wrap: break-word;
}

.dropdown-nav a {
  display: flex;
  align-items: center;
  min-height: 3em;
  padding: 4px 8px !important;
}

.dropdown-nav li:hover a,
.dropdown-nav li:hover p {
  color: var(--black);
}

#services-dropdown {
  left: unset;
  width: max-content;
  grid-template-columns: 1fr;
}

/*Secondary Dropdown*/

.secondary-dropdown-container {
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
}

.secondary-dropdown-button * {
  pointer-events: none;
}

.secondary-dropdown {
  position: absolute;
  transform: translateZ(-10px);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-left: solid 1px var(--soft-grey);
  transition: all 0.5s ease;
}

.secondary-dropdown-button {
  padding: 4px 8px !important;
}

.secondary-dropdown.visible {
  transform: translateX(100%);
}

.secondary-dropdown.visible.shifted-up {
  transform: translateX(100%) translateY(-100%) translateZ(-10px);
}

/*Mobile Menu*/

#mobile-menu {
  display: none;
  width: 36px;
  height: 36px;
}

.mobile-menu {
  max-width: 300px;
  width: calc(100% - 50px);
  bottom: 0;
  position: fixed;
  top: 96px;
  transform: translate(-100%);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  z-index: 3;
}

.contact-info {
  padding: 16px;
  border-top: solid 1px #ebebeb;
  font-size: 14px;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.contact-info i {
  width: 14px;
  height: 14px;
}

.contact-info li {
  display: flex;
  align-items: center;
  gap: 4px;
}

.show-menu {
  transform: translate(0%);
}

.mobile-menu ul {
  display: initial;
}

.mobile-menu a {
  margin: 0;
}

/*Mobile Accordian Menu*/

.accordian {
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.accordian a {
  color: var(--white);
  text-decoration: none;
}

.accordian-item {
  border-top: 1px solid var(--primary-darker);
  list-style: none;
  overflow: hidden;
}

.accordian-sub-item {
  border-top: 1px solid var(--primary-darker);
  list-style: none;
  overflow: hidden;
}

.btn {
  position: relative;
  width: 100%;
  padding: 16px 18px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  font-size: 14px;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
}

.btn i {
  min-width: 16px !important;
  max-width: 16px !important;
  min-height: 16px !important;
  max-height: 16px !important;
  pointer-events: none;
}

.sub-btn i {
  min-width: 14px !important;
  max-width: 14px !important;
  min-height: 14px !important;
  max-height: 14px !important;
}

.accordian-item__sub,
.accordian-sub-item__sub {
  height: 0;
  padding: 0;
  margin: 0;
  background: var(--dark-grey);
  overflow: hidden;
  transition: height 0.4s ease;
}

.sub-btn:first-of-type {
  background-color: hsl(207, 63%, 38%);
  border-bottom: solid 1px hsl(207, 63%, 48%);
}

.accordian-item__sub a,
.accordian-sub-item__sub a {
  display: block;
  padding: 1rem 1.6rem;
  color: white;
  font-size: 0.9rem;
  position: relative;
  border-bottom: 1px solid var(--light-grey-two);
}

/*Interior Section*/

.interior-section {
  margin: 0 auto;
}

.interior-section .text-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.interior-section .cta {
  color: var(--white);
}

.cta:hover {
  background-color: hsl(207, 63%, 43%);
  margin-left: 4px;
}

.heading {
  position: relative;
  z-index: 2;
  margin-bottom: 32px;
}

.text-wrapper li ul {
  margin-left: 32px;
}

.text-wrapper li li {
  list-style-type: circle !important;
}

.text-and-img {
  max-width: 800px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 16px;
  row-gap: 32px;
  flex-wrap: wrap;
}

.text-and-img > div {
  flex: 1 1 450px;
}

.interior-img-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.interior-img-wrapper p {
  padding: 8px;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
}

.interior-img-wrapper img {
  max-width: 250px;
}

.interior-img-wrapper.multi {
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap;
}

.img-flex-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin: 32px 0;
}

.img-flex-container img {
  max-height: 64px;
}

/*Booking Form*/

.booking-form {
  display: flex;
  flex-direction: column;
}

.booking-form * {
  font-family: "Open Sans Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.form-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-col:last-of-type {
  margin-bottom: 0;
}

.booking-form label {
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.booking-form input,
.booking-form textarea {
  padding: 4px;
}

.booking-form textarea {
  min-height: 80px;
}

.booking-form span {
  color: hsl(0, 60%, 50%);
}

.booking-form input[type="submit"] {
  width: max-content;
  padding: 8px;
  margin-top: 16px;
  cursor: pointer;
}

/*Useful Links Page*/

.useful-links a:hover {
  text-decoration: underline;
}

/*Footer*/

footer {
  flex-shrink: 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  padding: 16px 0;
  margin: 0 auto;
}

.footer-grid section {
  padding: 16px;
}

.footer-grid li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.footer-grid li:last-of-type {
  margin-bottom: 0;
}

.footer-grid a {
  color: var(--white);
}

.footer-grid i {
  width: 16px;
  height: 16px;
}

.footer-header {
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 16px;
}

.designed-by-wrapper {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
}

#designed-by {
  width: 250px;
}

/*Utility*/

.italic {
  font-family: "Open Sans Italic", Arial, Helvetica, sans-serif;
}

.obvious-link {
  color: var(--primary) !important;
}

.obvious-link:hover {
  text-decoration: underline;
}

.link-wrapper {
  width: max-content;
  height: max-content;
}

.margin-top {
  margin-top: 16px !important;
}

.arrow-right.rotated {
  transform: rotate(180deg);
}

.no-right-border {
  border-right: none !important;
}

.bot-marg {
  margin-bottom: 16px !important;
}

.no-bot-marg {
  margin-bottom: 0 !important;
}

.active-link {
  background-color: var(--primary);
  color: var(--white) !important;
  font-family: "Open Sans Semi Bold", Arial, Helvetica, sans-serif;
}

.active-link i {
  background-image: url("../icons/down-chevron-white.svg") !important;
}

.inline-link {
  color: var(--primary) !important;
}

.inline-link:hover {
  text-decoration: underline;
}

.sub-heading {
  color: var(--text);
  font-size: 18px;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  margin-bottom: 16px !important;
}

.sub-heading.big {
  font-size: 20px;
  text-decoration: underline;
}

.faq .sub-heading {
  margin-bottom: 8px;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.stop-scrolling {
  overflow: hidden;
}

/*Icons*/

.chevron-down {
  display: inline-block;
  background-image: url("../icons/down-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.chevron-down.white {
  background-image: url("../icons/down-chevron-white.svg");
}

.chevron-down.third {
  background-image: url("../icons/down-chevron-third.svg");
}

.chevron-down.primary {
  background-image: url("../icons/down-chevron-primary.svg");
}

.arrow-right {
  display: block;
  background-image: url("../icons/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.telephone {
  display: inline-block;
  background-image: url("../icons/telephone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.telephone.blue {
  background-image: url("../icons/telephone-blue.svg");
}

.mail {
  display: inline-block;
  background-image: url("../icons/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.mail.blue {
  background-image: url("../icons/mail-blue.svg");
}

/*Fonts*/

@font-face {
  font-family: "Open Sans Reg";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Med";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}

/*Media Queries*/

@media screen and (max-width: 1400px) {
  .nav-container {
    padding: 0 8px;
  }
  .container {
    padding: 0 16px;
  }
}

@media screen and (max-width: 900px) {
  .top-nav {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 370px) {
  .img-flex-container img {
    max-width: 300px;
  }
}
