*,
*:before,
*:after {
  box-sizing: border-box;
}

/*CSS Variables*/

:root {
  --white: #ffffff;
  --soft-grey: #f2f2f2;
  --light-grey: #fcfcfc;
  --light-grey-two: #3b3b3b;
  --dark-grey: #333333;
  --black: #141414;
  --text: #595959;
  --primary: #1f5a8a;
  --primary-darker: #1c517d;
  --secondary: #37867f;
  --third: #d8e9e6;
}

/*Fullscreen Hero Image*/

.hero {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/img5.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Hero Banner*/

.banner {
  width: 100%;
  height: 500px;
  background-position: center center;
  background-size: cover;
  background-image: url(../images/index/hero.jpeg);
}

.banner-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.banner-inner h1 {
  font-size: 40px;
  line-height: 1.5em;
}

/*Services Section*/

.service-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  margin: 64px auto;
}

.service-section .text-wrapper {
  width: 100%;
  padding: 16px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--black);
}

.service-section h2 {
  color: var(--third);
}

.services-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  background-color: var(--white);
  margin: 0 auto;
}

.service-box {
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
}

.service-box::before {
  content: "";
  display: block;
  padding-top: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-box-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.service-box-content:hover {
  background-color: hsla(0, 0%, 0%, 0);
}

.service-box-content p {
  display: block;
  width: 100%;
  padding: 4px;
  color: var(--white);
}

.service-box-content:hover p {
  background-color: var(--secondary);
  color: var(--third);
}

.service-box:nth-child(1) {
  background-image: url(../images/index/sb1.jpeg);
}

.service-box:nth-child(2) {
  background-image: url(../images/index/sb2.jpeg);
}

.service-box:nth-child(3) {
  background-image: url(../images/index/sb3.jpeg);
}

.service-box:nth-child(4) {
  background-image: url(../images/index/sb4.jpeg);
}

.service-box:nth-child(5) {
  background-image: url(../images/index/sb5.jpeg);
}

.service-box:nth-child(6) {
  background-image: url(../images/index/sb6.jpeg);
}

/*Media Queries*/

@media screen and (max-width: 1170px) {
  .service-section {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
  .service-section .text-wrapper {
    max-width: 800px;
    padding: 0;
    background-color: transparent;
    color: var(--text);
    margin: 0 auto;
  }
  .service-section h2 {
    color: var(--black);
  }
  .services-grid {
    order: 2;
  }
}

@media screen and (max-width: 500px) {
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
}
