*,
*:before,
*:after {
  box-sizing: border-box;
}

/*CSS Variables*/

:root {
  --white: #fff;
  --black: #090d1b;
  --text-color: #6b6b6b;
  --soft-grey: #9e9e9e;
  --primary-color: #a4adc9;
  --secondary-color: #3f68ba;
}

/*Foundation Start*/

html,
body {
  height: 100%;
}

body {
  padding-top: 60px;
  background-color: #fafafa !important;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

/*Navigation*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: var(--white);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 2;
}

.nav-container {
  max-width: 1400px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo-wrapper {
  align-self: flex-start;
  width: max-content;
  height: max-content;
}

.nav-container .logo {
  max-height: 70px;
  height: 100%;
}

.desktop-nav {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
}

.desktop-nav > ul {
  display: block;
}

ul li {
  display: inline;
  list-style-type: none;
}

.desktop-nav > ul > li {
  padding: 0 8px;
  border-right: solid 1px var(--soft-grey);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color);
}

a:active {
  color: var(--text-color);
}

/*Dropdown Menu*/

.dropdown-wrapper {
  position: relative;
  width: max-content;
  height: min-content;
  display: inline-flex;
  flex-direction: column;
  margin-left: 16px;
  border-right: solid 1px var(--soft-grey);
}

.dropdown-wrapper p {
  position: relative;
  z-index: 2;
}

.dropdown-wrapper p:hover {
  cursor: pointer;
}

.dropdown-wrapper ul {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: max-content;
  padding-top: 43px;
  border-radius: 4px;
  flex-direction: column;
  overflow: hidden;
}

.dropdown-wrapper ul:before {
  display: block;
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 1px;
  background-color: var(--soft-grey);
  border: 0;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.15), 0 2px 4px hsla(0, 0%, 0%, 0.12);
}

.dropdown-wrapper:hover ul {
  display: flex;
}

.dropdown-wrapper li {
  position: relative;
  height: max-content;
  padding: 8px;
  background-color: var(--white);
  background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%, rgba(247, 247, 247, 1) 100%);
  z-index: 1;
}

.dropdown-wrapper ul a {
  display: inline-block;
  height: max-content;
  padding: 0;
  font-size: 14px;
}

.dropdown-wrapper:hover {
  height: max-content;
}

/*Mobile Menu*/

#menu-container {
  display: none;
  width: 36px;
  height: 36px;
}

.mobile-menu {
  max-width: 300px;
  width: calc(100% - 50px);
  bottom: 0;
  padding: 16px 0;
  position: fixed;
  top: 96px;
  transform: translate(-100%);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.show-menu {
  transform: translate(0%);
}

.mobile-menu ul {
  display: initial;
}

.mobile-menu li {
  display: block;
  padding: 16px;
  border-bottom: solid 1px #ebebeb;
}

.mobile-menu a {
  display: block;
  margin: 0;
}

/*Fullscreen Hero Image*/

.hero {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/img5.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Image Slider*/

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-slide img {
  min-width: 100%;
  object-fit: cover;
}

#previousBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

/*Footer*/

footer {
  padding: 16px 0;
  flex-shrink: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-grid section {
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.designed-by-wrapper {
  max-width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0 auto;
}

#designed-by {
  width: 250px;
  margin-top: 64px;
}

/*Icons Start*/

.arrow-left {
  display: block;
  background-image: url("../icons/left-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.arrow-right {
  display: block;
  background-image: url("../icons/right-chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}

/*Misc*/

.active-link {
  color: var(--black) !important;
}

.stop-scrolling {
  overflow: hidden;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

.no-bot-marg {
  margin-bottom: 0 !important;
}

/*Media Queries*/

@media screen and (max-width: 1400px) {
  .nav-container {
    padding: 0 8px;
  }
}

@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  #menu-container {
    display: block;
  }
}

/*Fonts*/

@font-face {
  font-family: "Open Sans Reg";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Med";
  src: url("../fonts/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Italic";
  src: url("../fonts/OpenSans/OpenSans-Italic.ttf");
}

@font-face {
  font-family: "Raleway Reg";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Med";
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway Semi Bold";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
}
